@model DataIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <select class="form-select" aria-label="Default select example">
      <option selected>--</option>
        @foreach (var item in Model.LstCountry)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
</div>
